
/* CSS Document */
.clear_l{
    clear: left;
}

h3 a[name]{text-decoration: none;}

.pichonlink_en {text-align: center;
    background: #e9edf2 none repeat scroll 0 0;
    border-bottom: 1px solid #d2d7d9;
    padding-bottom: 3px;
}
#GlobalNavWrap .MegaMenu_Content.MegaMenu_Investor .Feature_Content.min {top: -5px;}
.sp_menu li:after{ no-repeat scroll -20px -77px;
    content: "";}

.set-responsiveWebDesign #GlobalNavWrapSp #GlobalNavAreaSp .GrobalNav_list.sp_menu{padding: 0px;
border-top: 1px solid #d2d7d9;
border-bottom: 1px solid #d2d7d9;
}
.set-responsiveWebDesign #GlobalNavWrapSp #GlobalNavAreaSp dl + .GrobalNav_list > .GrobalNav_list--global{border-bottom:none;}


.set-responsiveWebDesign #GlobalNavWrapSp #GlobalNavAreaSp .GrobalNav_list .pichonlink_en:after,
.set-responsiveWebDesign #GlobalNavWrapSp #GlobalNavAreaSp .GrobalNav_list .pichonlink_en li:after{background:none;}


.set-responsiveWebDesign #GlobalNavWrapSp #GlobalNavAreaSp a{
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
}
.set-responsiveWebDesign #GlobalNavWrapSp #GlobalNavAreaSp .GrobalNav_list .pichonlink_en:after,
.set-responsiveWebDesign #GlobalNavWrapSp #GlobalNavAreaSp .GrobalNav_list .pichonlink_en:after li:after{
    background: none;
}
.set-responsiveWebDesign #GlobalNavWrapSp #GlobalNavAreaSp .GrobalNav_list .pichonlink_en .pichonlink
{display: inline-block;
    margin: auto;
    width: calc(100% - 30px);}

.set-responsiveWebDesign #GlobalNavWrapSp #GlobalNavAreaSp .GrobalNav_list .pichonlink_en .pichonlink li {
    border: 1px solid #888;
    height: 28px;
    line-height: 28px;
    margin: 9px -1px  0;
    padding: 0;
    text-align: center;
    width: 33.33%;float: left;
}
.pichonlink .re{
    background: #ddd none repeat scroll 0 0;
}


.set-responsiveWebDesign #GlobalNavWrapSp #GlobalNavAreaSp .GrobalNav_list .pichonlink_en .pichonlink li a{
    display: inline;
}

.g-page-dept .g-main {
    padding-top: 0;
}

#GlobalNavWrap #GlobalNavArea .pic{margin:0;width: 235px;
    float: right;
}

#GlobalNavWrap #GlobalNavArea .re{background: #ddd;}

#GlobalNavWrap #GlobalNavArea .pic li{margin:0;}
#GlobalNavWrap #GlobalNavArea ul.pichonlink li {
    border: 1px solid #888;font-weight: bold;
    height: 28px;
    line-height: 28px;
    margin: 9px 0 0;
    padding: 0;
    text-align: center;
    width: calc(33% - 2px);margin-left: -1px;
}

#GlobalNavWrap #GlobalNavArea ul.pichonlink li a {
    margin: 0;
    padding: 0;
}

span.marker {
    background: #e5f7fa none repeat scroll 0 0;
    height: 15px;
    padding:0;
}

.line-height1{
    line-height: 1;
}

@media screen and (max-width: 960px) {.maru02{padding: 0.5em;}}

@media screen and (min-width: 960px) {



:root .g-poster .h1_box_in.h1_type2,
:root .g-poster-hero--s .h1_box_in.h1_type2{width:40%;}

.table_pa {
    padding: 0;
}
.g-table_el td.nobo{
    padding:0;
}


}
@media screen and (min-width: 481px) {
.g-poster .h1_box_in.h1_type2,
.g-poster-hero--s .h1_box_in.h1_type2{
    width: 40%;
}

.g-poster .h1_box_in.h1_type2.type3,
.g-poster-hero--s .h1_box_in.h1_type2.type3{
    width: 55%;
}


.box_middleAll{
    display: inline-block;
    margin-top: 0.7em;
}
.box_middleAll2{
    display: inline-block;
    margin-top: 1.7em;
}

}
@media screen and (min-width: 481px)  and (max-width: 781px) {
.box_middleTab{
    display: inline-block;
    margin-top: 0.7em;
}
}
.g-ttlbox-i {
    display: table;
    width: 96%;
}
.g-ttlbox_i {
    text-align: right;
}
@media screen and (min-width: 481px) {
body .j-height{padding-bottom: 0 !important;}
}



@media screen and (max-width: 481px) {
.g-ttlbox-i .g-ttlbox_hd, .g-ttlbox-i .g-ttlbox_i {
    display: inline-block;
    vertical-align: middle;
    width: 93%;
}}

@media screen and (max-width: 481px) {
.maru01, .maru02 {
    width: calc(100% - 1em);
}}