#footer {
  background-color: rgb(48, 53, 58);
  border-top-color: rgb(84, 195, 241);
  border-top-style: solid;
  border-top-width: 5px;
  color: rgb(102, 102, 102);
  font-size: 12px;
  line-height: 18.8333px;
  width: 100%;
  min-width: 960px;
}

.footer-content {
  margin: auto;
  width: 960px;
  padding-top: 50px;
  padding-bottom: 150px;
  padding-left: 10px;
  padding-right: 10px;
}

.copyright {
  background-color: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
  font-size: 12px;
  line-height: 18.8333px;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

.copyright-content {
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 960px;
}