#model-no {
    text-transform: uppercase;   
    color: rgb(102, 102, 102);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.9833px;
}

#major-specs a {
    color: rgb(0, 153, 204);
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    text-decoration: rgb(0, 153, 204);
    text-decoration-color: rgb(0, 153, 204);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-indent: -14px;
}

#major-specs a:hover {
    text-decoration: underline;
}