#model-no {
    text-transform: uppercase;   
    color: rgb(102, 102, 102);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.9833px;
}

#major-specs a {
    color: rgb(0, 153, 204);
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    text-decoration: rgb(0, 153, 204);
    text-decoration-color: rgb(0, 153, 204);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-indent: -14px;
}

#major-specs a:hover {
    text-decoration: underline;
}

.product-title {
    background-color: rgb(234, 250, 253);
    padding: 25px;
}

.product-name {
    display: inline-block;
    color: rgb(0, 153, 204);
    font-size: 15px;
    font-weight: 700;
    line-height: 23.55px;
    text-align: left;
    text-decoration: rgb(0, 153, 204);
    text-decoration-color: rgb(0, 153, 204);
    text-decoration-line: none;
}

.product-code {
    display: inline-block;
    float: right;
    background-attachment: scroll;
    box-sizing: border-box;
    color: rgb(102, 102, 102);
    display: table-cell;
    font-size: 14px;
    line-height: 21.9833px;

}

.features-title {
   
    border-left-color: rgb(0, 198, 247);
    border-left-style: solid;
    border-left-width: 4px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 700;
    line-height: 21.9833px;
    margin-left: 12px;
}

.features-content {
    color: rgb(102, 102, 102);
    font-size: 14px;
    line-height: 21.9833px;
}

.ref-link {
    
    color: rgb(0, 153, 204);
    font-size: 14px;
    font-weight: 400;
    line-height: 21.9833px;
    text-decoration: none;
}

.ref-link:hover {
    text-decoration: underline;
}

.ref-size {
    margin-left: 10px;  
    color: rgb(102, 102, 102);
    font-size: 14px;
    line-height: 21.9833px;

}

.image-container {
    padding-top: 15px;
    text-align: center;
}